
.poster-image{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #1E1E1E;
    border-radius: 8px;
}

.poster {
    position: relative;
    padding: 0px;
    margin: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #1E1E1E;

    width: 200px;
    height: 300px;
}

.details {
    display: none;
}

.poster:hover 
.details {
    /* font-size: 14px; */
    /* border: 2px solid #1E1E1E; */
    padding: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    background-color:white;
    width: 100%;
    color: black;
    animation: fadeIn 1s ease;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
  }

.title{
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
    border-bottom: 0.5px solid whitesmoke;
    margin: 0;
    margin-bottom: 8px;
    word-wrap: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overview-rating {
    font-size: 14px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 30%;
}

.overview{
    font-size: 10px;
    padding: 4px;
    margin: 0;
    word-wrap: normal;
    max-lines: 5;
    overflow: hidden;
    width: 70%;
}

.rating {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    font-size: 14px;
    color: aliceblue;
    background-color: red;
    /* height: 20px; */
    border-radius: 8px;
    text-align: center;
    margin: 8px 0;
}