.grid {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: aliceblue 8px solid;
    border-radius: 16px;
}

.grid-row {
    /*border-top: 0;*/
    min-width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
}

.center-row{
    border-bottom: aliceblue solid 8px;
    border-top: aliceblue solid 8px;
}

.status{
    font-size: 36px;
    color: aliceblue;
}
