.grid {
    margin: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e1e;
    /*border: 10px solid black;*/
    /*border-image-source: url('Circle_-_black_simple.png');*/
    /*border-image-width: 10px;*/
    /*border-image-repeat: stretch;*/
}

.bulb-border{
    background-image: url("Circle_-_black_simple.png");
    min-width: 12px;
    min-height: 12px;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    animation: bulb-glow 0.5s reverse;
}

.bulb-border:hover{
    animation: bulb-fade 0.5s forwards;
}

@keyframes bulb-fade {
    0%{
        filter: none;
    }
    100%{
        filter: invert(100%) sepia(69%) saturate(1621%) hue-rotate(338deg) brightness(106%) contrast(106%);
    }
}

@keyframes bulb-glow {
     0%{
         filter: initial;
     }
     100%{
         filter: invert(100%) sepia(69%) saturate(1621%) hue-rotate(338deg) brightness(106%) contrast(106%);
     }
 }

.grid-row {
    max-width: 300px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
}

.status{
    font-size: 36px;
    color: aliceblue;
}
