.square-box {
    font-size: 36px;
    /*margin: 8px;*/
    /*border-left: 8px solid aliceblue;*/
    background-color: transparent;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.square-box:nth-child(2){
    border-left: 8px solid aliceblue;
    border-right: 8px solid aliceblue;
}